<h1>Conclusion</h1>
<h4>
    <small>March 21st, 2015</small>
</h4>
<p>I'll admit, it's been a while. In fact, it's been too long since I've last written. 5 months ago, I completed a week
    of eating (drinking?) nothing but Soylent for an entire week. I guess I'll just pick up where I left off.</p>
<h1>Food! Finally!</h1>
<p>On October 18th, 2014, I tasted food for the first time in a week. While that might not sound as if it was some
    magnificent event accompanied by fireworks and cheering from all who surrounded me, it was significant in it's own
    right. For breakfast, Jordi and I found ourselves at <a href="http://www.metropolisboston.com">Metropolis Cafe</a>
    on Tremont Street. Its a cute little place with stylized decorations and offerings of Mediterranean cuisine. Of
    course, we were there for brunch, of which Metropolis's offerings we're much more standard. When asked by the waiter
    what I would like to eat, I excitedly ordered Huevos Rancheros. What better way to end a diet of constant taste and
    texture that with eggs, tomatoes, peppers, and corn chips? Jordi and I spent most of the time before the food came
    talking about the food itself. I was so hyped about finally being able to eat that I had a huge grin on my face as
    the waiter brought over the food. I immediately dove into my meal and finished it within ten minutes. </p>
<p>The experience of eating again was an interesting one. Immediately, I was overjoyed by the sensation of something
    besides liquid in my mouth. Even though it had only been a week without them, I was taken aback by the boldness of
    flavours. I could taste the fat in the eggs and the sweetness of the tomatoes. Being deprived of real food made it
    so much more obvious to me what I used to take for granted. After a couple bites, I realized something which took me
    by surprise: my jaw was tired. I guess chewing for a week really takes its toll on jaw strength. I went into this
    experiment thinking I should have chewed gum, but the masochist in me wanted to be stripped of all flavours except
    the Soylent. Needless to say, it was a bad idea.</p>
<p>As I've stated before, eating is very much a social experience. I started to feel left out, even when I made effort
    to sit down with my friends at meals. There's a certain tempo to meal conversations, one where everyone takes time
    to chew and enjoy their food in between speaking. Soylent alters this tempo by getting rid of all pauses except for
    the act of swallowing. There were many times where I silently watched everyone else eat once I had finished my gulp
    of beige goo. I feel that if a group of people were all drinking Soylent together, there would be no detriment. </p>
<h1>Weight Loss and Exercise</h1>
<p>Over the course of the week, I lost about 1.7 pounds. I am well aware of daily weight fluctuations, but I feel like I
    actually did lose weight. I was hungry almost every night, so it would make sense. I obviously wasn't getting enough
    calories to sustain me body weight of 180 pounds (I've since gained 5 and then proceeded to lose 10 pounds). The
    deficit was clearly exacerbated by the running, which pushed my calorie burning well above my basal metabolic rate
    of about 1900 calories. Seeing as each day of Soylent is 2000 calories, I was probably 300 - 400 calories below my
    daily average. This most likely isn't healthy behaviour, and I would encourage anyone with an active lifestyle to
    consider supplementing Soylent with additional calories. </p>
<p>I definitely needed more electrolytes during workouts as well. Soylent, at least version 1.0, didn't have enough to
    keep slightly active lifestyle satiated. During my runs and afterward, I felt slightly dizzy and lightheaded, even
    after adding some salt to the mixture. I should have supplemented my Soylent with an energy drink or added more
    salt. </p>
<p>Besides the exercise induced dizziness, I felt great mentally the entire week. I had no trouble paying attention in
    class. I normally eat a relatively healthy diet, so there wasn't much change in the ratio of macronutrients I was
    receiving. There was no major improvement in mental capacity, but it was clear that I could function appropriately
    on Soylent alone. </p>
<h1>Back To The Present</h1>
<p>Admittedly, I took a couple months break from Solyent. Life just seemed to get int the way. Plus, since I get free
    meals from the university, it wasn't really economical for me to be buying my food. I started drinking Soylent again
    in January, but only at a rate of one pack per week. I now work at Boston Children's Hospital as a software develer
    making applications for the anesthesiology department. I started drinking Soylent again out of pure convenience. It
    mostly just served as a distraction-free snack between meals while at work. For this purpose, I've found it to work
    extremely well. I just bring a bottle of it into work and drink it whenever I feel hungry. </p>
<p>It might be because I dyed my Soylent green one day, but my coworkers took notice and started asking questions.
    Eventually, I brought a bag for one of the to try, and he's now ordered a batch for himself! Apparently, I'm not the
    only one who enjoys a nutritionally complete snack. </p>
<h1>Some Final Thoughts</h1>
<p>My weeklong experience with Soylent is not something I would give up. It's also something I never want to repeat in
    the future. I've found that I enjoy food too much to forgo it completely. Soylent provides a great “filler food” in
    replacement of what could be nutritionally deficient junk food, but it's not something that I could see myself
    living off by itself for an extended period of time. I'm glad I had the chance to see how my body reacted to a
    supposedly perfect food, but I cherish a juicy hamburger more. </p>
<p>I do recommend Soylent for individuals who find themselves eating fast or junk food in lieu of real meals. A meal of
    Soylent costs less that a meal from McDonald's, and is substantially more healthy. I will be continuing to order
    Soylent for myself on an as-needed basis.</p>
