<h1>Day One</h1>
<h4>
    <small>October 11, 2014</small>
</h4><p class="lead"> I started my liquid food diet on a Saturday morning, beginning on the weekend so that I could
    spare my classmates the experience of my gastrointestinal system adjusting to a new food (big, stinky flatulence, or
    so I’ve heard).</p>
<div>
    <figure role="group" style="float:right; margin: .5em;">
        <figcaption style="text-align: center;">A day's worth of Soylent</figcaption>
        <img src="images/soylent/soylentMeal.jpg" class="img-rounded img-responsive"></figure>
    <p> After an extremely satisfying dinner date on a Friday night at <a
            href="http://www.tapeo.com/default.aspx">Tapeo</a>, a tapas restaurant on Newbury Street, I made my first
        batch of Soylent. The “Starter Kit” comes with a 2 litre bottle for preparation, so I poured a bags worth of
        powder into it and mixed it with water. After shaking vigorously for about a minute, I put the bottle in my
        refrigerator, as Soylent is recommended to be served cold. The full product also comes with a fish and canola
        oil blend, but I left that out until the morning since it would just separate out anyways. </p>

    <p> The next morning, I woke up still a bit full full from the night before. I mixed the oil into the Soylent, which
        had separated a bit into a watery powder. After giving the bottle a good shake, Jordi and I headed over to the
        dining hall. As an RA, I get 19 meal swipes for free per week, so it’s not a big deal to go to the dining hall
        to just socialize. I saw some friends at the dining hall, and they again expressed their disbelief at my
        personal experiment. I still don’t blame them, as the bottle I’m carrying looks like it’s full of a protein
        shake. Jordi got her food, and I grabbed a cup of coffee and an empty cup for my meal. While I’m giving up food
        for a week, I’m definitely not giving up coffee: I need my caffeine. </p>
</div>
<p> Pouring the Soylent into the
    cup is akin to pouring a watery cake batter. The smell of it is slightly sweet due to the sucrolose in it, included
    for flavour. With a disgusted look on Jordi’s face, I took my first sip. My first impression was how neutral the
    taste is. It’s slightly sweet and has a hint of bread, but there’s nothing that stands out. After the tapas I
    enjoyed the night before, the Soylent tasted how I can only describe as lifeless. Its not good, its not bad. Its
    just there. This is apparently on purpose, so that it can be flavoured in any way the user wants. As I eat (drink?)
    my meal, Jordi teased me with eggs, bacon, and french fries. I honestly felt kind of jealous. While she got to enjoy
    the taste of real food, I was drinking nutritional goop. I didn’t give in and finished my first glass of Soylent,
    then poured another glass.</p>
<div>
    <figure role="group" style="float:left; margin: .5em;">
        <figcaption style="text-align: center;">2000 calories in a bottle</figcaption>
        <img src="images/soylent/soylentPrepared.jpg" class="img-rounded img-responsive">
    </figure>
    <p> After finishing the second glass, I noticed how full I was. I didn’t expect just 2 glasses to be so satisfying,
        but I honestly felt that I couldn’t consume any more. The entire 2 litre bottle is 2000 calories worth of food,
        but I had only gotten through about a fourth of it. Feeling full, I headed back to my room and wrote what you’ve
        just read.</p>

    <p>I spent the rest of the day coding my website so I could post my experiences. When I code, I tend to lose track
        of time and not pay attention to what my body needs. I sometimes code for eight hours straight without anything
        to eat, which leaves me very hungry once I’ve finished. Its not that I don't feel hungry, but I get so focused
        on the logic of the application that I don’t want to be interrupted. This is where the Soylent proved it’s
        usefulness. Instead of having to prepare food or go to the dining hall, I just poured myself a glass of food and
        continued coding. There was no disruption and I didn’t even have to take my mind off the code to feed myself. I
        had two glasses over the six hours I spent preparing the website, and I came out of it feeling better than I
        normally do.</p>

    <p>I can see the potential Soylent has to be a part of my diet once I’m done with this week. It was an amazing way
        to feed myself and continue being productive at the same time. By the end of a long coding session, I usually
        feel drained and tired, but the Soylent gave me enough energy to feel alert and focused. So far, I haven’t
        experienced any digestion issues, except for a little bit of burping. The dreaded rear end expulsions of air
        haven’t arrived yet, but I’m expecting that to happen tomorrow once the Soylent makes its way all the way
        through my body. For now, I feel satisfied and ready to push my code, including today’s entry, to the live
        server. If anything else that happens tonight, I’ll add it on. I’ll probably have the rest of the bottle before
        I go to bed.</p></div>