<h1>Day 2</h1>
<h4><small>October 12, 2014</small></h4>
<h2>
    <small>Disclaimer: This page contains descriptions of farts and poop. Read at your own risk.</small>
</h2>

<p>It's 7:00am on a Sunday morning, and I'm awake. I have to proctor, which means I swipe people into the residence hall
    for the next 4 hours. It doesn't help that I was woken up several times last night.</p>
<div>
    <figure role="group" style="float:right; margin: .5em;">
        <figcaption style="text-align: center;">A day's worth of Soylent</figcaption>
        <img src="images/soylent/soylentNalgene.jpg" class="img-rounded img-responsive">
    </figure>
    <p>Have you ever been woken up by the stench of your own gassy expulsions? Neither had I, until last night. At
        around
        2:00am, I was nudged awake by a cloud of the foulest smelling air I've ever experienced. We're not talking "haha
        toots", but rather "oh my god what have I done to deserve this?" Had I been in a field of flowers, I'm sure they
        all
        would have wilted and died. The most I could do was wrap my covers as around me as tightly as possible to
        separate
        my nose from whatever it was that had come from my bowels.</p>

    <p>Anywho, after a few uncomfortable hours, I took the bottle of Soylent that I had prepared the night before and
        added
        some vanilla to it. After a good shake, I poured some into a Nalgene bottle to take with me to proctoring. I
        usually
        order Panera for delivery, but this week, I'm providing my own sustenance. When I woke up, I wasn't hungry, but
        I
        could tell I needed to eat. I'll just be drinking Soylent until the next update.</p>
</div>
<h3>An Afternoon in Au Bon Pain</h3>
<p>Apparently, while Soylent fills you up quickly, it's also processed by your body at a relatively high speed. I'm
    guessing it's because there's nothing solid in Soylent for my stomach to work on, but after a couple hours sitting
    in ABP doing homework and having mandatory talks with freshmen, I feel famished. I made the mistake of not bringing
    any Soylent with me.</p>
<p>At this point, it's very difficult not to walk over to the counter and get a bagel. My hunger is actually a bit
    distracting, which doesn't help when I'm trying to finish a lab report. I'm committed to the experiment though, and
    haven't surrendered to the aromas from behind the counter.</p>
<h3>On Duty</h3>
<p>The last part of my day was spent being on RA duty. Since its Columbus Day weekend, I have to complete 9pm, 11pm, and
    1am rounds through the two buildings that I'm on staff for. I'm also required to be in the RA office from 7pm to
    11pm. The office is a hang-out spot where RAs tend to congregate. When someone is on duty, there's almost always one
    or two other people there. Tonight, Jordi came and hung out with me and two other RAs, Steph and Emily.</p>
<p>All was fine and dandy until Steph and Emily decided to order Dominos. Since I'm not that big of a pizza person, I
    thought it would be fine. I was completely wrong. When the food arrived, the smell of cheese was so overpowering. I
    don't think I've ever wanted pasta and cheesy bread more in my life. Then came the smell of tomatoes, which brought
    me to the edge of
    sanity. I wanted that cheesy goodness. I <em>NEEDED</em> it. Steph asked if I wanted some, and I was extremely
    close to
    taking her up on her offer. Even Jordi chimed in, "Doesn't that smell good? Don't you want some?" Despite the
    extreme temptation, I did not indulge.</p>
<p>The rounds were a pain, but now's not the time to complain about that. I finally finished my rounds at 1:30am. I was
    famished, so as I prepared the next day's Soylent, I drank the remainder of the bottle. Jordi made me brush my teeth
    before kissing her goodnight. I don't blame her; she despises the goop. As we crawled into bed, I released what I
    had been holding in for the past couple hours. </p>
<p>The stench hit us like a brick wall. Jordi immediately stuffed her face into the covers to try and avoid the smell.
    It's honestly probably the worst thing either of us has ever inhaled. We started laughing our butts off at each
    other's reactions to being gassed. Once the air had cleared, like the truly awful boyfriend I am, I unleashed
    another monster. The sound alone was impressive: a low, powerful rumble with a slight crescendo and higher pitch at
    the end. That caused us to bust up laughing again, and we agreed to pull the covers tight to try and capture the
    smell and not let it towards our faces. Within ten minutes, I was fast asleep.</p>
<p>Jordi informed me the next morning that I tooted several times in my sleep before she passed out. Apparently, all of
    them were just as awful as the waking ones. Poor girl. I wonder why she's still with me.</p>
