<h1>Day 3</h1>
<h4><small>October 13, 2014</small></h4>
<h3>I'm Hungry</h3>
<p>I woke up to a very large appetite. With only 2000 calories a day, I'm estimating that I'm a couple hundred short of
    my usual intake. This isn't too much of a problem, as I was hoping to lose a few pounds over this week. I don't
    really know how much weight loss is healthy, but I'd like to get myself back to between 175 and 180 pounds. For a
    5'10" male, I think that's a good weight.
</p>
<p>I didn't feel too groggy in the morning. In fact, once I slurped down my 700 millilitres (1 calorie per millilitre)
    of Soylent for breakfast, I felt better than I normally do. Luckily, it's a holiday weekend, so I didn't have to do
    much during the day except answer any phone calls to the RA duty phone. With that in mind, I plunked myself down on
    my bed and started studying for organic chemistry. Yuck.
    I had woken up at around 9:00am, but I felt hungry again by eleven. I had thought that about 700 calories would
    satiate me for the morning, but I guess my stomach is still used to having more than just calorie-dense liquid in
    it. Nevertheless, I waited until noon to grab a light 500 millilitre lunch.
</p>
<h3>Let's Talk About Poop
    <small>(skip this if you're easily grossed out)</small>
</h3>
<p>The only downsides of Soylent I can tell so far pertain to how my bowels are handling the transition. Besides the
    hilariously wretched farts (yes, they could still knock out a war horse), my poopie is suffering as well. Normally,
    pooping should be a relaxing release of bad juju from your bunghole. With Soylent, this is not the case. Every poop
    comes out at about a 4 on the <a href="http://en.wikipedia.org/wiki/Bristol_stool_scale">Bristol Scale</a>, which is considered healthy. The problem is that it doesn't seem to
    want to come out. It's not hard, but sticky and gross-feeling (out of the butt, not with my hands). Oh, and it
    stinks like a more concentrated version of the previously described death toots. Perhaps I should drink more water.
</p>
<h3>The Afternoon</h3>
<p>I spent most of my afternoon in the study room of Smith Hall. A friend came over to study Orgo with me, so I had to
    hold in any gas to preserve the friendship. I'm pretty sure gassing your study buddy is a good way to no longer have
    a study buddy. Before she arrived, I thought about slyly crop-dusting some of the other residents in the room, but I
    took pity on them. I've terrorized enough people with my battle-ready butt belches (Sorry Jordi...).
</p>
<p>While studying, I felt very alert and on top of things. The mental clarity is amazing. I guess with my body getting
    all of its essential nutrients, I'm a better studier. I powered through an entire two chapters worth of Orgo
    homework in one sitting, which is something I'm not usually able to do. At the end of this week, I'll probably be
    buying more Soylent just to use as brain food. It's fantastic! Everything was going superb!
</p>
<p>Then, the duty phone rang…</p>

<p>"Hi it's Katie, the GA on call," is what I heard when I picked up the phone. "I just wanted to let you know that
    there are residents on the roof of Smith Hall. You should probably call the police." Do freshmen ever think about
    their actions? I don't believe they do. Though, to be fair, I was dumb when I was a freshman too. I think it's just
    a part of being away from home for the first time. Anyways, when NUPD (Northeastern University Police Department)
    officers arrived, they asked me to come up with them to check out the emergency exits leading to the roof.
</p>
<p>It happened while I was walking up the stairs behind the officers. Unexpected farts are the worst in social
    situations, and this one came with absolutely no warning at all. All of a sudden, I was playing to toot trumpet at
    what I imagine was a bit over 70 decibels. I already felt bad enough, but then the officers started laughing really
    hard. They had obviously heard it, but hadn't smelled it. Thank goodness they continued up the stairs and I didn't
    have to see their faces implode on themselves when "the cloud" hit them.
</p>
<h3>Running in the Evening</h3>
<p>Jordi and I like to run. By that, I mean I like to run and I drag Jordi along with me. We started last winter, and
    we're continuing to do it now. I had some hesitations about running while on Soylent, but with the mindset of a
    guinea pig, I decided to subject my body to strenuous physical activity while eating nothing but glop.
</p>
<p>The run started off fine, but as soon as I started to sweat, I got a bit of a headache. This doesn't normally happen
    when I run; it's usually the legs or lungs that give out first. Also, this headache wasn't exactly debilitating,
    just there and hurting a little bit. It wasn't too bad, so we continued the run and finished after just over one
    mile. The run was shorter than normal, but that was ok since we hadn't run in about 2 weeks and needed to get back
    into the rhythm.
</p>
<p>After getting back to my dorm and doing some research on the internet, I found out that I'm probably low on
    electrolytes while drinking Soylent. It's a very low sodium food, clocking in at only 70% of the recommended daily
    value. This was done on purpose, as it's not expected that Soylent will replace every meal in a user's diet. Only
    the crazy people do that. Since most foods have an excess of sodium, the reduced content usually isn't a problem. To
    fix this, it was recommended that I add 1.145 grams of table salt to my diet, either in the Soylent or separately.
    I'll definitely be doing that tomorrow.
</p>
<p>The rest of my night was spent studying and preparing the website for the upload. I don't yet have a content
    management system, so everything has to be done by hand. After finishing off the last bit of Soylent in the bottle,
    I went to bed feeling a little bit hungry.
</p>
