<h1>Day 4</h1>
<h4>
    <small>October 14, 2014</small>
</h4>

<p>When I woke up today, I felt hungrier than I can remember ever being. After burning an extra 300 calories by running
    the previous day, I could understand why. Well, my body can feast on the fat around my belly until this week is
    done. When I think about it, Soylent is almost the perfect weight loss regimen if you can bring yourself to eat
    nothing but brown liquid.
</p>
<p>When I made today’s batch of Soylent, I added a packet of table salt to the mix. The salt didn’t really add any
    flavour, but it’ll probably help out when I run. I ran out of vanilla, so I’m back to regular old Soylent again.
    I’ve figured out what it looks like: imagine mixing chunky peanut butter and water in a 1:3 ratio and blending it.
    That describes the texture pretty accurately, but not the taste. In the mouth, it’s still as bland and nondescript
    as ever.
</p>
<p>I decided to start studying right away. My 8:00am lab was cancelled because of the holiday weekend, so I had some
    time to catch up on studying. As I read for Organic Chemistry, I sipped away at the Soylent. The blandness actually
    helped here, since there’s no taste to distract from studying.
</p>
<p>I had to teach a class for freshmen in the afternoon, so I stopped studying around 1:00pm. By then, I was quite
    hungry again, so I poured myself a half-litre of Soylent and took it with me to the class. I showed the Soylent to
    the professor I teach with, and she didn’t understand why I was doing it. Scored another point for the skeptics.
</p>
<figure role="group" style="float:right; margin: .5em;">
    <figcaption style="text-align: center;">How I feel when talking to other people</figcaption>
    <img src="images/soylent/soylentJoker.jpg" class="img-rounded img-responsive">
</figure>
<h3>My friends love Soylent</h3>
<p>When I say my friends love Soylent, I mean that they love the fact that I have 19 meal swipes to spare. I offered to
    buy everyone sandwiches and food, and they virtually started trampling over each other in the group message to get
    me to buy them things. After I finished the class, I met my friend Danielle at Rebecca’s and bought her two
    sandwiches. While there, I also bought my friend Jose two sandwiches, which I would drop off later.
</p>
<p>Danielle and I sat in Rebecca’s and caught up. We haven’t had a nice sit down to talk in a while, so it was good to
    hang out for at least a little bit. She asked about the Soylent I was drinking, and I told her all about it. Yet
    another person does not understand why I’m doing this to myself. She seemed a lot more ok with it than others, but I
    attribute that to the food I bought her. If you give people food, you’ll never run out of friends.
</p>
<p>After eating with Danielle, we both headed over to the University Visitor’s Center to drop off Jose’s food. He works
    there part time, so he couldn’t leave his shift to join us for lunch. Jose is one of the most over-the-top people I
    know. He likes to have a lot of fun and blows everything out of proportion for comedic effect. Sure enough, as soon
    as we start talking about Soylent, he starts screaming in an indoor voice. “Why would you eat that? You need food.
    You need to enjoy the eating experience!” I knew this would happen, and I was actually looking forward to it. Jose
    never fails to make just about anything funny, and my brown nutri-slush was no exception. After the outburst, we
    talked for a bit and I headed off with Danielle to get food for our friend Ben from a place on campus called
    Outtakes.
</p>
<div>
    <figure role="group" style="float:right; margin: .5em;">
        <figcaption style="text-align: center;">The Southwest Corridor in Boston</figcaption>
        <img src="images/soylent/southwestCorridor.jpg" class="img-rounded img-responsive">
    </figure>
    <h3>Running again</h3>

    <p>After getting back to my dorm and feeding myself a bit more, Jordi and I went for another run. We decided to go a
        bit
        farther than yesterday. I was excited for that, since I love running and tiring myself out. I’m a bit of an
        exercise
        nut, and it’s my goal to make Jordi one too. I think it’s working, since she even runs on her own now.
    </p>

    <p>We ran from her residence hall at Northeastern, up the Southwest Corridor to Back Bay Station, and back again.
        It’s
        about 2 miles round-trip, but we only made about 1.7 miles. We’re both a bit out of shape, but that just gives
        me
        reason to run even more frequently. At the turn around point, there’s a restaurant called the  <a href="http://www.thesaltypig.com">Salty Pig</a>. It’s a
        restaurant that specializes in pig dishes, and it always smells superb. When we got to Back Bay Station, I
        decided
        that I want to eat at the Salty Pig once I’m done with this confounded diet. I could smell the meat from fifty
        feet
        away, and it kind of gave me a second wind to propel myself towards the aroma.
    </p>

    <p>After running 1.7 miles, we stopped and walked the rest of the way. The salt I had added to my Soylent in the
        morning
        really helped, as I had no headache whatsoever. If it weren’t for the shortage of calories, I would feel
        absolutely
        perfect. If I were to live off this stuff for a longer period of time, I would definitely eat more than 1 bag
        per
        day.
    </p>
</div>
<h3>Soylent makes staff meetings interesting!</h3>
<p>Part of my job as a Resident Assistant is to attend a weekly staff meeting to discuss hall issues and announcements
    with the other RAs on staff. My staff in Smith and Kennedy Halls (“Smennedy”) are an amazing group of people who
    make hour-and-a-half-long meetings starting at 10:15pm worthwhile. I was running late with another RA, since his
    hard drive was making high pitched scratching sounds and I was setting up data recovery. When we got to the meeting,
    our Residence Director Emily asked us to share our “Happy, Sappy, Crappy”, which is just a quick sharing of how your
    previous week went.
</p>
<p>For my “Crappy”, I chose to talk about Soylent. It’s not because I think it’s crappy, but I’m sure everyone else
    does. As soon as I said “Well, I’ve started my liquid Soylent diet,” The room exploded with curiosity. I had to
    answer all the standard questions: “What is it? Is it safe? Why are you doing this?” questions. Some people were
    legitimately freaking out when I said the word “Soylent.” Even the RD, Emily had a bunch of questions. She had heard
    about it before, so her questions were more about my personal experiences. Once everything died down, we continued
    our meeting.
</p>
<p>I finally got back to my room at 11:45pm. After making the next day’s Soylent, I realized I was really hungry. Alas,
    I had already finished my 2000 calorie allotment for the day. I looked longingly at the food I had in my fridge, but
    resigned myself to my bed before I could indulge.
</p>
