<h1>Day 7</h1>
<h4>
    <small>October 17, 2014</small>
</h4>
<figure role="group" style="float:left; margin: .5em;">
    <img src="images/soylent/soylentFinalDay.png" class="img-rounded img-responsive">
    <figcaption style="text-align: center;">I hope Nintendo doesn't get mad</figcaption>
</figure>
<p>At last, it’s my final day of Soylent! The last pitcher was made last night and left to refrigerate so I could have a
    cold breakfast before heading off to work. On Fridays, I go into the office at the Novartis Institute for Biomedical
    Research to work. I work there part-time, continuing development on the application I started while on co-op there
    for the first 6 months of this year. I love working there, and when they asked me to stay on part-time after my
    co-op ended, I was overjoyed that I would be able to earn money and continue getting work experience. It’s a great
    deal.
</p>
<p>I’m not allowed to talk about the specifics of my work since I signed a hefty NDA, but I’ll talk a little bit about
    my experience during the day with Soylent. In short, it was fantastic.
</p>
<p>I got to work at about 9 and programmed until noon, when I normally grab lunch in the cafeteria. This means I lose
    billable time while I feed my body. Having the Soylent handy by my desk saved me about 30 minutes when I would have
    gone to the cafeteria. I just worked through my lunch break, sipping Soylent every once in a while. The application
    we’re developing is under a time crunch, so it’s good that I was able to work through lunch (I’m also a bit of a
    workaholic).
</p>
<p>By today, my bowels had calmed down a bit. I didn’t feel the need to expel gas, which probably saved my coworkers
    from periods of agony throughout the day. Going to the bathroom was surprisingly normal, though a bit earlier than
    usual due to 2 cups of double-espresso Americano life-giving coffee. I love the espresso machine at work, but that’s
    beside the point. My work day on Soylent was astonishingly normal, given the unforgiving week I had just had.
</p>
<p>By 5:00pm, I was pretty hungry as it was time to head home. I ate an entire 1 litre bottle while at work, so that
    kept me going throughout the day. Unfortunately, I had 500 mL for breakfast, leaving me only 500 mL for dinner. I
    decided to walk home, since the weather in Boston probably isn’t going to be beautiful for much longer. By the time
    I got home, my stomach was actually rumbling. I drank the last of the Soylent and started on some evening homework.
</p>
<p>Jordi came over a bit later. I was really hungry, but committed to the whole 168 hours of nothing but Soylent. I
    decided to take apart a spare hard drive I had laying around and teach Jordi how it works, which served as a
    distraction from my grumbly tummy. We decided to get brunch tomorrow morning, which I’m thoroughly excited about. We
    turned in early; sleep makes the food come faster.
</p>
