<h1>Days 5 and 6</h1>

<p class="lead">I'm combining the two days together because not much happened. I had classes all day, so there weren't really any big
    new experiences. I'll do my best to make them as entertaining as possible.
</p>
<h2>Day 5</h2>
<h4>
    <small>October 15, 2014</small>
</h4>
<p>Upon waking up, I was starving. 2000 calories isn't enough for my body to sustain itself. I can feel myself losing
    weight, but I should really be supplementing the daily Soylent with something more. A few hundred more calories
    would put me at a level where I could maintain my weight. Right now, I think I'm about 400-600 calories short per
    day, which leaves me with a ravenous appetite in the morning. However, even though I'm hungry, my body must still be
    getting enough non-calorie nutrients. I feel fine and have no mental fog. In fact, I think my concentration is a
    teensy bit better than when I'm on a more unhealthy diet. I think the optimal solution is to use Soylent to fuel my
    body and eat real food for enjoyment and extra calories.
</p>
<p>I woke up a bit late, so I had to bring Soylent to class. I'm not big on eating during lectures; it just seems a bit
    disrespectful to the professor. Soylent, on the other hand, is easily consumed with nary a disruption to the class.
    There's no crackling bag, no chewing to distract other people, and no mess to clean up. Eating is as simple as
    taking a drink from the bottle, as if it was REALLY viscous water. It's really convenient because drinking Soylent
    takes five seconds at most, meaning I can focus on what's going on in class and not worry about how to get food into
    my mouth (hey, it's hard sometimes!).
</p>
<p>After consuming more than half a litre of Soylent in Theory of Computation, I went back to my room and grabbed more
    for lunch. I worked on the broken laptop for a bit and then headed off to the library to study. I studied until it
    was time to go to Organic Chemistry without once thinking about food. It's weird: as soon as I smell or see food, I
    crave it. Otherwise, I'm perfectly fine and happy without it. Even when I get hungry, I actually want Soylent. It
    seems counterintuitive to think that I would want to consume brown sludge, but I know it will fill me up with very
    little effort. I ate lunch through Orgo, gaining some odd stares as did. The people next to me looked like they
    wanted to ask me about it, but the professor was lecturing and they refrained from interaction.
</p>
<p>After Database Design and Genetics & Molecular Biology, I was finally done with classes for the day. Those classes
    span four hours, and by the time I got back to my room, I was quite hungry. I downed a glass of Soylent and started
    studying again. I live such an exciting life: I always have my face stuffed in books or am sitting in front of a
    computer, coding for hours at a time. I'm a fun person! I swear! I'm pretty extroverted, but also comfortable being
    on my own doing something for moderate periods of time. Time alone becomes a problem when it happens constantly. I
    feel a need for human interaction and start to feel really uneasy and even a little sad without it. Soylent is
    dangerous in this regard, as it takes the social meal time out of my day. I usually grab dinner with friends, my RA
    staff (who are also my friends), or Jordi. Soylent means eating alone, and when I have almost no other interaction
    with other people. It gets to me. I'm sure I'm not the only person who feels this way. If I were doing this for a
    longer period of time, I would need to make a conscious effort to schedule time out to preserve what little sanity I
    possess.
</p>
<p>I studied until I went to bed, and that's where today ends.
</p>
<h2>Day 6</h2>
<h4>
    <small>October 16, 2014</small>
</h4>
<p>Today started just like yesterday: hungry. The day progresses just like yesterday, so I won't delve too much into
    detail. I drank Soylent, went to class, drank Soylent in class, then studied a bit. The fun part comes when I
    started my duty shift.
</p>
<p>For the first two hours of duty, I read the monumental <a href="http://arstechnica.com/apple/2014/10/os-x-10-10/">25-page review of Mac OS X Yosemite</a> by John Siracusa. It's a
    great read that spans from the new look of OS X to the refreshing language Swift. He goes in depth into how Swift
    writes like a scripting language, but still has the speed of C. I admittedly didn't understand all of it, but at
    least I learned something! Enough about my nerdy habits; lets talk about RA duty!
</p>
<p>While running earlier in the week didn't pose a problem, walking up and down flights of stairs had an interesting
    effect on my bowels. They felt, for lack of a better word, full. Not bloated, but heavy and lethargic. I don't know
    how one can personify bowels, but I assure you, it was an interesting experience. The round was uneventful, and
    Jordi joined me to watch the rest of Castle in the Sky, which we had started watching the previous week. Over the
    next two hours in the office, a couple other RA's poked their heads in. They said it smelled bad in the office. I
    can't imagine why...
</p>
<p>After another quiet round, Jordi and I headed back to my room. There, after I ate the remaining Soylent in the
    pitcher, we promptly fell asleep, with my stomach feeling empty as if I'd forgotten to eat dinner.
</p>