<img src="images/soylent/soylentHeader.jpg" class="img-responsive img-rounded" style="margin-top: 1em;">
<h1>My Journey With Soylent</h1>
<p> When we think about food, we often think about the meals we prepare or buy. We think about the meats,
    potatoes,
    beans, vegetables, and other macro ingredients that fuel our bodies. What we don’t often think about is what that
    food actually breaks down to. Sure, we look at nutrition labels on the back of a package, but at least for me, I’m
    just looking at how many calories I’m stuffing into my body. When broken down, food is just a bunch of chemicals the
    body can’t make on its own. We need protein to synthesize amino acids, fats to give us stores of energy, sugars for
    energy on demand, and starches to help regulate the digestive tract. Of course there are more, like the vitamins and
    trace minerals, but the point is that food is just a combination of smaller chemicals. Soylent is exactly that, a
    mixture of chemicals in quantities calculated by <a href="http://www.rosalabs.com/">Rosa Labs</a> which the human body needs. It comes as a powder in a bag
    and a bottle of oils. Mix those with water and you have a nutritionally complete food.</p>
<p><a href="http://www.soylent.me/">Soylent</a> is the brainchild of Rob Rhinehart to try and solve problems with food.
    His goal is to make an affordable
    and healthy alternative to traditional foods. There are implications for developing countries, but it still has a
    place in America where we admittedly have an abundance of food. With so many McDonalds, Burger Kings, KFCs and other
    fast food chains, living in urban or suburban America almost guarantees cheap and easy food. The trade off is that
    this food is not exactly healthy. While fast food companies are making small efforts to make their offerings
    healthier, they are still mostly fats with a lot more sugar and salt than is necessary. Its just so easy to buy and
    eat that for some people, its a daily lunch or dinner. For me, Soylent can fix this problem.</p>
<p> As a college student involved in clubs, working part time, and taking a full load of classes while also being a
    Resident Assistant and helping teach a freshman class, I find that I sometimes don’t have time for a healthy meal.
    As an RA living in a freshman residence hall, I don’t have a kitchen. I can’t make myself a sandwich in the morning
    and take it with me for lunch, instead relying on restaurants around campus and dining halls. When I don’t have time
    for lunch in the dining hall where I can eat a balanced meal, I often grab a hamburger, burrito, or pizza. Its easy
    and gives me the energy to get through the rest of the afternoon. I know that these choices aren’t exactly healthy,
    but I don’t really have much other choice. Soylent gives me a meal that I can prepare and take with me. I can take
    it out and drink it any time I’m hungry. Since it’s nutritionally complete, its a much better alternative than the
    fast food I would consume otherwise.</p>
<p> I backed Soylent many months ago on some crowdfunding site because I thought it was interesting. The reward for
    backing was a weeks supply of Soylent once the formulation reached version 1.0. I first head about Soylent through a
    series of <a href="http://arstechnica.com/series/ars-does-soylent/">Ars Techinca articles written by Lee
        Hutchinson</a>, who tried the pre-release formula for a week. You can
    read about his experiences here. After months of waiting, my Soylent finally arrived a couple days ago. I had
    decided that once I got it, I would try living off of it as my only food source for an entire week, much like Mr.
    Hutchinson. </p>
<p> I love food. I love going out to eat and trying new flavours. I’m definitely not going to give up food and replace
    it with Soylent for more than a week. My girlfriend, Jordi, has the same opinion about food, and she thinks that I’m
    absolutely crazy for doing this, as do most of my friends who I’ve talked to about this. I don’t honestly know why
    I’m doing it. I’m interested in the stuff and I love experimenting. I’ve read other accounts of Soylent diets, and
    it seems safe enough. I guess I just want to see if it lives up to its claim as a viable food alternative. Without
    further ado, lets begin!</p>