<div id="soylentPostContainer">

</div>
<div class="text-center">
    <ul class="pagination" id="soylentPaginator" style="cursor:pointer;">
        <li><a data-page="previous">&laquo;</a></li>
        <li><a data-page="0">0</a></li>
        <li><a data-page="1">1</a></li>
        <li><a data-page="2">2</a></li>
        <li><a data-page="3">3</a></li>
        <li><a data-page="4">4</a></li>
        <li><a data-page="5">5</a></li>
        <li><a data-page="6">6</a></li>
        <li><a data-page="next">&raquo;</a></li>
    </ul>
</div>
