<div>
    <h1>About Me</h1>

    <p>Hi, I'm Trevyn. I spend most of my time studying Computer Science and Biology at Northeastern University, but
        that doesn't stop me from being an adventurous person. I love the outdoors and spend a lot of my free time
        biking, running, or camping. When I'm not outside, I'm usually hunkered down in my room for hours on end coding
        whatever project I'm currently working on.</p>

    <p>I love to code and explore new technologies. I currently work for the Novartis Institute for Biomedical Research,
        where I am a Software Engineer on a part time basis. Studying both Computer Science and Biology, I make
        applications to assist researchers in the drug discovery process. I've built applications using the Grails
        framework, as well as plain old Java with Spring with a Javascript web-based front end.</p>

    <p>This site is built using Twitter Bootstrap and Backbone.js, both of which I love for making my website more than
        just a pile of spaghetti code. I'm always tinkering around with the site, so things may break from time to time.
        I use Amazon Web Services to host the site and administer it remotely, so if Amazon is having problems, so am I.</p>
</div>
<div>
    <h1>Contact</h1>

    <p>You can <a href="mailto:tlangsford@gmail.com">email me</a> to get in touch.
        I also have a <a href="http://www.linkedin.com/pub/trevyn-langsford/56/810/a80">LinkedIn</a> account,
        and I've been known to <a href="https://twitter.com/tlangsford">tweet</a> occasionally.
        If you'd like to establish a secure communication with me, you can
        <a href="files/public-F433B841.asc">download my public key here</a>.
    </p>
</div>

