<h1>Resume</h1>

<div class="panel-group" id="resumeAccordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#resumeAccordion" href="#educationPanel">
                    Education
                </a>
            </h4>
        </div>
        <div id="educationPanel" class="panel-collapse collapse in">
            <div class="panel-body">
                <div id="education-college">
                    <div class="row" style="margin-top: .5em;">
                        <div class="col-sm-8">
                            <h3 style="margin-top: 0px;">Northeastern University</h3>
                        </div>
                        <div class="col-sm-4">
                            September 2012 &mdash; Present
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 resume-subcategory">
                            <b>Candidate for Bachelor of Science in Computer Science and Biology</b>
                        </div>
                        <div class="col-sm-4">
                            2017
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-1">
                            Related Courses
                        </div>
                        <div class="col-sm-8">
                            <ul class="resume-list">
                                <li>Fundementals of Computer Science</li>
                                <li>Principals of Biology</li>
                                <li>General Chemistry</li>
                                <li>Logic and Computation</li>
                                <li>Computer Organization</li>
                                <li>Discrete Structures</li>
                                <li>Linear Algebra</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-1">
                            Honors
                        </div>
                        <div class="col-sm-8">
                            <ul class="resume-list">
                                <li>3.69/4.0 GPA</li>
                                <li>Dean's List</li>
                                <li>Honors Program</li>
                                <li>Dean's Scholarship</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-1">
                            Activities
                        </div>
                        <div class="col-sm-8">
                            <ul class="resume-list">
                                <li>NU Hacks</li>
                                <li>nuACM</li>
                                <li>Husky Ambassadors</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="education-highschool">
                    <div class="row">
                        <div class="col-sm-8">
                            <h3 style="margin-top: 0px;">Helix Charter High School</h3>
                        </div>
                        <div class="col-sm-4">
                            August 2008 &mdash; June 2012
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-1">
                        Honors
                    </div>
                    <div class="col-sm-8">
                        <ul class="resume-list">
                            <li>Valedictorian</li>
                            <li>Golden State Seal Merit Diploma</li>
                            <li>President's Education Award</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-1">
                        Activities
                    </div>
                    <div class="col-sm-8">
                        <ul class="resume-list">
                            <li>Marching Band</li>
                            <li>Wind Symphony</li>
                            <li>Symphonic Orchestra</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#resumeAccordion" href="#techKnowledgePanel">
                    Technical Knowledge
                </a>
            </h4>
        </div>
        <div id="techKnowledgePanel" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row" style="margin-top: .5em;">
                    <div class="col-sm-8">
                        <h3 style="margin-top: 0px;">Programming Languages</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 resume-subcategory">
                        <ul class="resume-list">
                            <li>Java</li>
                            <li>Groovy</li>
                            <li>Racket</li>
                            <li>Python</li>
                            <li>Bash</li>
                            <li>C</li>
                            <li>ACL2</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <h3 style="margin-top: 0px;">Technologies</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 resume-subcategory">
                        <ul class="resume-list">
                            <li>Spring</li>
                            <li>Grails</li>
                            <li>Gradle</li>
                            <li>Maven</li>
                            <li>HTML5/CSS3</li>
                            <li>Bootstrap</li>
                            <li>jQuery</li>
                            <li>Backbone.js</li>
                            <li>Underscore.js</li>
                            <li>Amazon Cloud Services</li>
                            <li>Git</li>
                            <li>Subversion</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <h3 style="margin-top: 0px;">Software</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 resume-subcategory">
                        <ul class="resume-list">
                            <li>IntelliJ IDEA</li>
                            <li>Eclipse</li>
                            <li>Webstorm</li>
                            <li>XCode</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <h3 style="margin-top: 0px;">Systems</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 resume-subcategory">
                        <ul class="resume-list">
                            <li>Mac OS X</li>
                            <li>Linux</li>
                            <li>Windows XP/7/8</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#resumeAccordion" href="#experiencePanel">
                    Experience
                </a>
            </h4>
        </div>
        <div id="experiencePanel" class="panel-collapse collapse">
            <div class="panel-body">
                <div id="experience-novartis">
                    <div class="row" style="margin-top: .5em;">
                        <div class="col-sm-12">
                            <h3 style="margin-top: 0px;">Novartis Institute for Biomedical Research</h3>
                        </div>
                    </div>
                    <div class="experience-group">
                        <div class="row">
                            <div class="col-sm-8 resume-subcategory">
                                <b>Software Engineer</b>
                            </div>
                            <div class="col-sm-4">
                                January 2014 &mdash; Present
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-1">
                                Develop software tools in support of drug discovery.
                                Implement custom web-based software using technologies such as Java, JavaScript, HTML, and
                                Oracle.
                                Work as a team member and interface directly with scientists.
                            </div>
                        </div>
                    </div>
                </div>
                <div id="experience-northeastern">
                    <div class="row" style="margin-top: .5em;">
                        <div class="col-sm-12">
                            <h3 style="margin-top: 0px;">Northeastern University</h3>
                        </div>
                    </div>
                    <div class="experience-group">
                        <div class="row">
                            <div class="col-sm-8 resume-subcategory">
                                <b>Resident Assistant</b>
                            </div>
                            <div class="col-sm-4">
                                August 2013 &mdash; Present
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-1">
                                Ensure the safety and inclusion of residents in the residence hall.
                                Plan and execute programs according to specific goals set by the University.
                            </div>
                        </div>
                    </div>
                    <div class="experience-group">
                        <div class="row">
                            <div class="col-sm-8 resume-subcategory">
                                <b>Husky Ambassador</b>
                            </div>
                            <div class="col-sm-4">
                                January 2013 &mdash; Present
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-1">
                                Volunteer in the university Visitor's Center.
                                Give campus tours to families of both prospective and admitted students.
                                Provide the first impression of Northeastern University to visitors, answering any questions
                                they may have and informing them of programs and student life at Northeastern.
                            </div>
                        </div>
                    </div>
                    <div class="experience-group">
                        <div class="row">
                            <div class="col-sm-8 resume-subcategory">
                                <b>College of Computer and Information Science Tutor</b>
                            </div>
                            <div class="col-sm-4">
                                September 2013 &mdash; January 2013
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-1">
                                Help students in the Fundamentals of Computer Science 1 course at Northeastern University.
                                Hold office hours and grade homework.
                            </div>
                        </div>
                    </div>
                    <div class="experience-group">
                        <div class="row">
                            <div class="col-sm-8 resume-subcategory">
                                <b>Orientation Leader</b>
                            </div>
                            <div class="col-sm-4">
                                May 2013 &mdash; August 2013
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-1">
                                Welcome new students to Northeastern University.
                                Show them around campus and answer any questions they may have about their upcoming year in
                                college.
                                Assure parents that their student will succeed at Northeastern and answer questions from them.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#resumeAccordion" href="#projectsPanel">
                    Projects
                </a>
            </h4>
        </div>
        <div id="projectsPanel" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row" style="margin-top: .5em;">
                    <div class="col-sm-12">
                        <h3 style="margin-top: 0px;">Current Projects</h3>
                    </div>
                </div>
                <div class="experience-group">
                    <div class="row">
                        <div class="col-sm-8 resume-subcategory">
                            <b>Personal Website</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11 col-sm-offset-1">
                            Built and currently maintaining a personal website and blog.
                            Blog about technical topics and challenging problems I've found solutions for.
                            Using Amazon EC2 to run a web server.
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: .5em;">
                    <div class="col-sm-12">
                        <h3 style="margin-top: 0px;">Past Projects</h3>
                    </div>
                </div>
                <div class="experience-group">
                    <div class="row">
                        <div class="col-sm-8 resume-subcategory">
                            <b>Triple Boot Computer</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11 col-sm-offset-1">
                            Built a computer and installed linux, Windows 7, and Mac OS X on it.
                            Researched compatible parts and configured linux and Mac OS X to work appropriately.
                        </div>
                    </div>
                </div>
                <div class="experience-group">
                    <div class="row">
                        <div class="col-sm-8 resume-subcategory">
                            <b>DVR System</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11 col-sm-offset-1">
                            Used MythTV to set up a home DVR system. Maintained it until leaving home for for college.
                        </div>
                    </div>
                </div>
                <div class="experience-group">
                    <div class="row">
                        <div class="col-sm-8 resume-subcategory">
                            <b>Eagle Scout Project</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11 col-sm-offset-1">
                            Organized over 110 man-hours of volunteer work.
                            Negotiated with local businesses for lumber and supplies.
                            Removed and rebuilt an aging fence along a public lakeside trail.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#resumeAccordion" href="#interestsPanel">
                    Interests
                </a>
            </h4>
        </div>
        <div id="interestsPanel" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row" style="margin-top: .5em;">
                    <ul class="resume-list">
                        <li>Hiking</li>
                        <li>Biking</li>
                        <li>Backpacking</li>
                        <li>Camping</li>
                        <li>Volunteering</li>
                        <li>Travelling</li>
                        <li>Programming</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

        <h1>Contact</h1>
